@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body, #app {
  height: 100vh;
  margin: 0;
  background-color: #121212 !important;
  font-family: 'Roboto Mono', monospace !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #FFFFFF !important;
}